body {
  font-family: "Chakra Petch", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: space-between;

}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 50px;
}

.texto {
  max-width: 50%;
  text-align: center;
}

h2 {
  color: #ffffff;
  background-color: #234aa0;
  padding: 32px;
}

button {
  background-color: #234aa0;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  font-size: 1rem;
  margin-top: 20px;
}


.img {
  background-image: url(./atv.avif);
  background-position: center;
  height: 640px;
  width: 600px;
  border-radius: 10px;
  margin-right: 50px;
}

footer {
  background-color: #234aa0;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  font-size: 1rem;
  position: relative;
  bottom: 0;
}